<!-- view/blog_feed.erb -->
<div class="post-container">
  <% @posts.each do |post| %>
    <div class="single-post-container">
    <div class="post-title"><h2 class="title-text"><%= post.title %></h2></div>
    <div class="author-date">
      <% @users.each do |user| %>
        <% if post.user_id == user.id %>
          <span class="post-date"><%= post.created_at.strftime('%b %d') %> by <%= user.username %></span>
        <% end %>
      <% end %>
    </div>
    <div class="post-content"><p><%= post.content %></p></div>

    </div>
    <!-- add new comment box for each post -->
    <form class="" action="/add_comment" method="post">
    <input type="text" name="text" maxlength="150" placeholder="Write comment...">
    <input type="hidden" name="post_id" id="current_post_id" value="<%= post.id %>">
    <input type="submit" name="submit_comment" value="Submit">
    </form>
    <div>
      <% @comments = Comment.where(post_id: post.id) %>
        <% @comments.each do |comment| %>
            <div class="post-title"><p><%= comment.text %></p></div>
        <% end %>
    </div>
  <% end %>
</div>
