<!-- ======= views/user_update.erb ======= -->

<div id="form-container">
<form id="user_update-data" action="/user_update" method="post">
  <div>
    <input class="input-item input-box" type="text" name="username" value="<%= @current_user.username %>">
  </div>
  <div>
    <input class="input-item input-box" type="text" name="password" value="<%= @current_user.password %>">
  </div>
  <div>
    <input class="input-item input-box" type="text" name="firstname" value="<%= @current_user.firstname %>">
  </div>
  <div>
    <input class="input-item input-box" type="text" name="lastname" value="<%= @current_user.lastname %>">
  </div>
  <div>
    <input class="input-item input-box" type="text" name="email" value="<%= @current_user.email %>">
  </div>
  <input type="hidden" name="user_id" id="current_user_id" value="<%= @current_user.id %>">

  <input class="input-item submit-btn" type="submit" value="Update">

  <div class="delete-btn input-item">
    <a id="delete-txt" href="/deleteuser/<%= @current_user.id %>">Delete</a>
  </div>
</form>
</div>

<!-- <input type="button" id="deleteBtn" value="Delete"> -->
