<!-- ======= views/user_update.erb ======= -->
<h1>User Update page</h1>

<form id='user_update-data' action="/user_update" method="post">
  <div>
    <label for="username">Username</label>
    <input type="text" name="username" value="<%= @current_user.username %>">
  </div>
  <div>
    <label for="password">Password</label>
    <input type="text" name="password" value="<%= @current_user.password %>">
  </div>
  <div>
    <label for="firstname">First Name</label>
    <input type="text" name="firstname" value="<%= @current_user.firstname %>">
  </div>
  <div>
    <label for="lastname">Last Name</label>
    <input type="text" name="lastname" value="<%= @current_user.lastname %>">
  </div>
  <div>
    <label for="email">Email</label>
    <input type="text" name="email" value="<%= @current_user.email %>">
  </div>

  <input type="hidden" name="user_id" value="<%= @current_user.id %>">
  <input type="submit" value="Update">
</form>
